id ICON "main.ico"

1 VERSIONINFO
FILEVERSION     0,0,1,0
PRODUCTVERSION  0,0,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Philip/Scobalula"
      VALUE "FileDescription", "ExportXBin"
      VALUE "FileVersion", "0.0.1.0"
      VALUE "InternalName", "exportxbin"
      VALUE "LegalCopyright", "Philip Maher"
      VALUE "OriginalFilename", "exportxbin.exe"
      VALUE "ProductName", "My App"
      VALUE "ProductVersion", "0.0.1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END